<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

  <div class="row top-30">
    <div class="col s12">
      <h5>Favourites Dashboard</h5>
    </div>
  </div>

  <div class="divider top-30"></div>
  <div class="section">
    <h5>Artists</h5>
  </div>

  <div class="row">
    <table>
      <%= render partial: "item", collection: @artists, cache: true %>
    </table>
  </div>

  <div class="divider top-30"></div>
  <div class="section">
    <h5>Style</h5>
  </div>

  <div class="row">
    <table>
      <%= render partial: "item", collection: @styles, cache: true %>
    </table>
  </div>

  <div class="divider top-30"></div>
  <div class="section">
    <h5>Tracks</h5>
  </div>

  <div class="row">
    <table>
      <%= render partial: "item", collection: @tracks, cache: true %>
    </table>
  </div>


</div>
