<%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.text_field :name, id: :track_name, required: true %>
    <%= form.label :name %>
  </div>

  <div class="input-field">
    <%= form.select :artist_id, Artist.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, required: true %>
    <%= form.label :artist %>
  </div>

  <div class="input-field">
    <%= form.select :style_id, Style.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, required: true %>
    <%= form.label :style %>
  </div>

  <div class="input-field">
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
