<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

  <div class="row top-30">
    <div class="col s8">
      <h5>Tracks</h5>
    </div>
    <div class="col s4 right-align">
      <%= link_to 'New Track', new_track_path, class: 'btn' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Style</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @tracks.each do |track| %>
            <tr>
              <td><%= track.name %></td>
              <td><%= track.artist.name %></td>
              <td><%= track.style.name %></td>
              <td>
                <%= link_to 'Show', track, class: 'btn' %>
                <%= link_to 'Edit', edit_track_path(track), class: 'btn' %>
                <%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
