<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

  <div class="row top-30">
    <div class="col s12">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Style</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @track.name %></td>
            <td><%= @track.artist.name %></td>
            <td><%= @track.style.name %></td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>

  <div class="row">
    <div class="col s12">
    <%= link_to 'Edit', edit_track_path(@track), class: 'btn' %>
    <%= link_to 'List', tracks_path, class: 'btn' %>
  </div>

</div>
