
<div class="container top-30">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Edit <%= resource_name.to_s.humanize %></span>
        </div>
        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="input-field">
              <%= f.email_field :email, autofocus: true, required: true %>
              <%= f.label :email %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="input-field">
              <%= f.text_field :first_name, autocomplete: "off", required: true %>
              <%= f.label :first_name %>
            </div>

            <div class="input-field">
              <%= f.text_field :last_name, autocomplete: "off", required: true %>
              <%= f.label :last_name %>
            </div>

            <div class="input-field">
              <%= f.date_field :birthday, autocomplete: "off", required: true, class: 'datepicker' %>
              <%= f.label :birthday %>
            </div>

            <div class="input-field">
              <%= f.label :password %> 
              <%= f.password_field :password, autocomplete: "off", placeholder: "leave blank if you don't want to change it", min: @minimum_password_length %>
            </div>

            <div class="input-field">
              <%= f.password_field :password_confirmation, autocomplete: "off", min: @minimum_password_length %>
              <%= f.label :password_confirmation %>
            </div>

            <div class="input-field">
              <%= f.password_field :current_password, autocomplete: "off", required: true, placeholder: "we need your current password to confirm your changes" %>
              <%= f.label :current_password %>
            </div>

            <div class="input-field">
              <%= f.submit "Update", class: 'btn' %>
            </div>
          <% end %>
        </div>

        <div class="card-content">
          <span class="card-title">Cancel my account</span>
          <p>Unhappy?</p>
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn top-10' %>
        </div>

        <div class="card-action">
          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>

