
<div class="container top-30">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card ">

        <div class="card-content">
          <span class="card-title">Sign up</span>
        </div>

        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="input-field">
              <%= f.email_field :email, autofocus: true, required: true %>
              <%= f.label :email, class: 'validate' %>
            </div>

            <div class="input-field">
              <%= f.text_field :first_name, autocomplete: "off", required: true %>
              <%= f.label :first_name, class: 'validate' %>
            </div>

            <div class="input-field">
              <%= f.text_field :last_name, autocomplete: "off", required: true %>
              <%= f.label :last_name, class: 'validate' %>
            </div>

            <div class="input-field">
              <%= f.date_field :birthday, autocomplete: "off", required: true, class: 'datepicker' %>
              <%= f.label :birthday, class: 'validate' %>
            </div>

            <div class="input-field">
              <%= f.password_field :password, autocomplete: "off", required: true, min: @minimum_password_length %>
              <%= f.label :password, class: 'validate' %>
            </div>

            <div class="input-field">
              <%= f.password_field :password_confirmation, autocomplete: "off", required: true, min: @minimum_password_length %>
              <%= f.label :password_confirmation, class: 'validate' %>
            </div>

            <div class="input-field">
              <%= f.submit "Sign up", class: 'btn' %>
            </div>

          <% end %>
        </div>

        <div class="card-action">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
