<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

  <div class="row top-30">
    <div class="col s8">
      <h5>Artists</h5>
    </div>
    <div class="col s4 right-align">
      <%= link_to 'New Artist', new_artist_path, class: 'btn' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @artists.each do |artist| %>
            <tr>
              <td><%= artist.name %></td>
              <td><%= link_to 'Show', artist, class: 'btn' %></td>
              <td><%= link_to 'Edit', edit_artist_path(artist), class: 'btn' %></td>
              <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>


