<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

  <div class="row top-30">
    <div class="col s12">
      <table>
        <thead>
          <tr>
              <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @artist.name %></td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= link_to 'Edit', edit_artist_path(@artist), class: 'btn' %>
      <%= link_to 'List', artists_path, class: 'btn' %>
    </div>
  </div>

</div>
