
<div class="container top-30">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card ">

        <div class="card-content">
          <span class="card-title">Change your password</span>
        </div>

        <div class="card-content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="input-field">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true, min: @minimum_password_length %>
            <%= f.label :password, "New password" %>
          </div>

          <div class="input-field">
            <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
            <%= f.label :password_confirmation, "Confirm new password" %>
          </div>

          <div class="input-field">
            <%= f.submit "Change my password", class: 'btn' %>
          </div>
        <% end %>
        </div>

        <div class="card-action">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
