
<div class="container top-30">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card ">

        <div class="card-content">
          <span class="card-title">Forgot your password?</span>
        </div>

        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="input-field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, required: true %>
            </div>

            <div class="input-field">
              <%= f.submit "Send me reset password instructions", class: 'btn' %>
            </div>
          <% end %>
        </div>

        <div class="card-action">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
