
<aside id="slide-out" class="side-nav">

  <ul>

    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Profile', edit_user_registration_path %></li>
    <li><%= link_to('Log out', destroy_user_session_path, method: 'delete') %></li>

    <% if current_user.admin? %>

    <li><div class="divider"></div></li>
    <li><%= link_to 'Dashboard', dashboard_index_path %></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Style</a></li>
    <li><%= link_to 'New', new_style_path %></li>
    <li><%= link_to 'List', styles_path %></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Artists</a></li>
    <li><%= link_to 'New', new_artist_path %></li>
    <li><%= link_to 'List', artists_path %></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Tracks</a></li>
    <li><%= link_to 'New', new_track_path %></li>
    <li><%= link_to 'List', tracks_path %></li>

    <% end %>

  </ul>

</aside>