
<header class="navbar">
  <nav class="teal darken-1">
    <div class="nav-wrapper container">
      <%= link_to 'Favourite Music', root_path, class: 'brand-logo' %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" data-activates="slide-out" class="aside-menu-collapse">MENU</a></li>
      </ul>
    </div>
  </nav>
</header>