<tr data-track="<%= track.id %>">
  <td><%= track.name %></td>
  <td><%= track.artist.name %></td>
  <td><%= track.style.name %></td>
  <td>
    <%= button_to favourites_path(track_id: track.id), class: 'btn-floating', remote: true, method: :post, disabled: track.is_favourite_by_user?(current_user) do %>
      <%= icon('star') %>
    <% end %>
  </td>
</li>