
<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

  <div class="row top-30">
    <div class="col s12">
      <%= form_with(url: root_path, method: "get", data: {remote: "false"} ) do |form| %>
        <div class="input-field col s7 m10">
          <%= form.text_field :search, class: 'validate', required: true %>
          <%= form.label :search %>
        </div>
        <div class="input-field col s5 m2">
          <%= form.submit 'Search', class: 'waves-effect teal darken-1 btn' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
        <%= content_tag :table, class: 'highlight' do %>
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Style</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "track", collection: @tracks, cache: true %>
          </tbody>
        <% end if @tracks.present? %>

        <%= content_tag :p, "No records", class: 'center-align' if @tracks.try(:total_count) == 0 %>
    </div>
  </div>

  <div class="row" id="my-favourites-card">
    <div class="col s12">
      <div class="card teal darken-1">
        <div class="card-content">
          <span class="card-title white-text">My Favourites</span>
          <ul class="collection">
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
