<%= form_with(model: style, local: true) do |form| %>
  <% if style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.text_field :name, id: :style_name, required: true %>
    <%= form.label :name %>
  </div>

  <div class="input-field">
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
