<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

    <div class="row top-30">
      <div class="col s12">
        <h5>Editing Style</h5>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= render 'form', style: @style %>
      </div>
    </div>
    
    <div class="row top-20">
      <div class="col s12">
        <%= link_to 'Show', @style, class: 'btn' %>
        <%= link_to 'Back', styles_path, class: 'btn' %>
    </div>
  </div>

</div>
