<%= render 'shared/aside' %>

<%= render 'shared/header' %>

<div class="container">

  <div class="row top-30">
    <div class="col s8">
      <h5>Styles</h5>
    </div>
    <div class="col s4 right-align">
      <%= link_to 'New Style', new_style_path, class: 'btn' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @styles.each do |style| %>
            <tr>
              <td><%= style.name %></td>
              <td><%= link_to 'Show', style, class: 'btn' %></td>
              <td><%= link_to 'Edit', edit_style_path(style), class: 'btn' %></td>
              <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
