
<div class="container top-30">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card ">

        <div class="card-content">
          <span class="card-title">Log in</span>
        </div>

        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-field">
              <%= f.email_field :email, autofocus: true, required: true %>
              <%= f.label :email %><br />
            </div>

            <div class="input-field">
              <%= f.password_field :password, autocomplete: "off", required: true %>
              <%= f.label :password %><br />
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="input-field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="input-field top-30">
              <%= f.submit "Log in", class: 'btn' %>
            </div>
          <% end %>
        </div>

        <div class="card-action">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>

